@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

* {
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
}

html, body {
    /* min-width: 650px; */
    background-color: lightblue;
    min-height: 100%; 
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: blue;
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    font-weight: bold;
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    border-bottom: 4px solid black;
}

nav {
    background-color: aquamarine;
}

nav li {
    display: flex;
    gap:  2em;
    flex-wrap: wrap;
}

main {
    display: flex;
    gap: 1em;
    flex: 5;
}

main > div {
    border-top: 4px solid black;
    padding: 1em 2em;
}

section {
    flex: 4;
    text-align: center;
}

article {
    background-color: floralwhite;
    border: 2px solid lightblue;
    border-radius: 18px;
    padding: 1em;
    box-shadow: 10px 10px aliceblue;
}

.cls-articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

article h3 {
    color: darkblue;
    margin-left: 1em;
}

form {
    max-width: 730px;
    display: inline-block;
    text-align: start;
}

aside {
    flex: 1;
    background-color: bisque;
    padding: 1em 2em;
}

footer {
    font-weight: bold;
    border-top: 4px solid blue;
}

#personal-web-article iframe {
    min-height: 25em;
}

/* Table */

table {
    border: 8px solid;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 2px solid black;
}

td {
    width: 20%;
    height: 3em;
    text-align: center;
}

td.cls-table-footer {
    border-top: 8px solid;
}

td.cls-table-separator {
    background-color: cornflowerblue;
}

/* Forms */

form > h3 {
    text-decoration: underline;
    font-style: italic;
    text-decoration-thickness: 4px;
    margin: 3em auto;
}

form label > input, form label > select {
    margin-left: 1em;
}

select[required], input[required]{
    background-image: url("../img/asterisk.svg");
    background-size: 1em 1em;
    background-position: right top;
    background-repeat: no-repeat;
}

select[required], input[type=date][required] {
    background-position: 80% 0;
}

input[type=number] {
    width: 3em;
}

input[type=submit] {
    background-color: cadetblue;
    color: white;
    border-radius: 10px;
    height: 3em;
    width: 10em;
}

.cls-formline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    margin-top: 2em;
}

.cls-formline.cls-center {
    justify-content: center;
}

@media screen and (max-width: 900px) {
    main {
        flex-direction: column;
    }
}