@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

* {
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
}

html, body {
    /* min-width: 650px; */
    background-color: lightblue;
    min-height: 100%; 
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    font-weight: bold;
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
}

nav {
    background-color: aquamarine;
}

nav li {
    display: flex;
    gap:  2em;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cls-articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}
article {
    background-color: floralwhite;
    border: 2px solid lightblue;
    border-radius: 18px;
    padding: 1em;
    box-shadow: 10px 10px aliceblue;
}

article h3 {
    color: darkblue;
    margin-left: 1em;
}

#personal-web-article iframe {
    min-height: 25em;
}

table {
    border: 8px solid;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 2px solid black;
}

td {
    width: 20%;
    height: 3em;
    text-align: center;
}

td.cls-table-footer {
    border-top: 8px solid;
}

td.cls-table-separator {
    background-color: cornflowerblue;
}